/* Push down other elements to make space for navbar */
.wy-nav-side {
  padding-top: 50px;
}
.wy-nav-content {
  margin-top: 50px;
}

/* Lay out navigation bar */
.platform-docs-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  height: 50px;
  line-height: 50px;
  display: flex;
  background-color: #1c1c1c;
}

/* Hide navigation bar on small screens */
@media (max-width: 768px) {
  .platform-docs-navigation {
    display: none;
  }
}

/* Faculty logo */
.platform-docs-navigation img.logo {
  flex: 0;
  width: 300px;
  max-height: 100%;
  padding: 5px;
}

/* Lay out navigation bar entries */
.platform-docs-navigation ul {
  display: flex;
  flex: 1;
  transition: .3s;
}
.platform-docs-navigation li {
  flex: 1;
  position: relative;
  transition: .3s;
  text-align: left;
  max-width: 12rem;
}
.platform-docs-navigation .component > ul {
  left: 0;
  top: 100%;
  display: none;
  background-color: #1c1c1c;
}

/* Expand menus on hover */
.platform-docs-navigation .component:hover > ul {
  display: block;
}

/* Links in navigation bar */
.platform-docs-navigation a {
  display: block;
  text-align: center; /* Temporary: Remove once menus filled */
  /* padding-left: 1rem; Temporary: Restore once menus filled */
  color: #ffffff;
}

/* Highlight elements with coral on hover */
.platform-docs-navigation img.logo:hover,
.platform-docs-navigation .component:hover,
.platform-docs-navigation .section:hover {
  background-color: #fa7268;
}
